<imgeo-s:Pand>
  {{#nummeraanduidingreeks}}
    {{#elem-at-0}}
      <elem1>{{identificatieBAGVBOHoogsteHuisnummer}}</elem1>
    {{/elem-at-0}}
    {{#elem-at-1}}
      <elem2>{{identificatieBAGVBOHoogsteHuisnummer}}</elem2>
    {{/elem-at-1}}
    {{#elem-at-2}}
      <elem3>{{identificatieBAGVBOHoogsteHuisnummer}}</elem3>
    {{/elem-at-2}}
    {{/nummeraanduidingreeks}}
</imgeo-s:Pand>

