<imgeo-s:Pand>
  {{#nummeraanduidingreeks}}
    {{#nummeraanduidingreeks-elem-at-0}}
      <elem1>{{identificatieBAGVBOHoogsteHuisnummer}}
      {{#positie}}
       {{#positie-elem-at-0}}
          <hoek1>{{hoek}}</hoek1>
        {{/positie-elem-at-0}}
        {{#positie-elem-at-1}}
          <hoek2>{{hoek}}</hoek2>
        {{/positie-elem-at-1}}
      {{/positie}}
      </elem1>
    {{/nummeraanduidingreeks-elem-at-0}}
    {{#nummeraanduidingreeks-elem-at-1}}
      <elem2>{{identificatieBAGVBOHoogsteHuisnummer}}
       {{#positie}}
       {{#positie-elem-at-0}}
          <hoek3>{{hoek}}</hoek3>
        {{/positie-elem-at-0}}
        {{#positie-elem-at-1}}
          <hoek4>{{hoek}}</hoek4>
        {{/positie-elem-at-1}}
      {{/positie}}
      </elem2>
    {{/nummeraanduidingreeks-elem-at-1}}
    {{#nummeraanduidingreeks-elem-at-2}}
      <elem3>{{identificatieBAGVBOHoogsteHuisnummer}}
       {{#positie}}
       {{#positie-elem-at-0}}
          <hoek5>{{hoek}}</hoek5>
        {{/positie-elem-at-0}}
        {{#positie-elem-at-1}}
          <hoek6>{{hoek}}</hoek6>
        {{/positie-elem-at-1}}
      {{/positie}}
      </elem3>
    {{/nummeraanduidingreeks-elem-at-2}}
    {{/nummeraanduidingreeks}}
</imgeo-s:Pand>

