<dummyObjectMember>
	<naam>{{name}}</naam>
	<ietsAnders object="{{something}}">{{other}}</ietsAnders>
	<onderdeel>{{#onderdeel}}
	              {{label}}" -- "{{waarde}}
	           {{/onderdeel}}</dummy>
	<noValue>{{noValue}}</noValue>
</dummyObjectMember>