/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.test-files/
profiles.clj
.idea/
*.iml
src/main/main.iml
src/main/resources/version
*.iml
.project
.classpath
.settings/
