{{>city-model-start}}
	<veg:PlantCover xmlns:veg="http://www.opengis.net/citygml/vegetation/2.0" gml:id="_{{_version}}">
		{{>start-bgt-feature-type}}
		<veg:class codeSpace="{{fysiekVoorkomen_codeSpace}}">{{fysiekVoorkomen}}</veg:class>			
		<imgeo:geometrie2dBegroeidTerreindeel>{{{geometry.gml}}}</imgeo:geometrie2dBegroeidTerreindeel>
		<imgeo:begroeidTerreindeelOpTalud{{#opTalud_leeg}} nilReason="{{.}}"{{/opTalud_leeg}}>{{opTalud}}</imgeo:begroeidTerreindeelOpTalud>	
		<imgeo:kruinlijnBegroeidTerreindeel{{#kruinlijn_leeg}} nilReason="{{.}}"{{/kruinlijn_leeg}}>{{{kruinlijn.geometry.gml}}}</imgeo:kruinlijnBegroeidTerreindeel>	
		<imgeo:plus-fysiekVoorkomen codeSpace="{{plus-fysiekVoorkomen_codeSpace}}">{{plus-fysiekVoorkomen}}{{plus-fysiekVoorkomen_leeg}}</imgeo:plus-fysiekVoorkomen>
	</veg:PlantCover>
{{>city-model-eind}}