{{>city-model-start}}
	<veg:PlantCover xmlns:veg="http://www.opengis.net/citygml/vegetation/2.0" gml:id="_{{_version}}">
		{{>start-bgt-feature-type}}
		<veg:class codeSpace="{{fysiekvoorkomen_codespace}}">{{fysiekvoorkomen}}</veg:class>			
		<imgeo:geometrie2dBegroeidTerreindeel>{{{_geometry.gml}}}</imgeo:geometrie2dBegroeidTerreindeel>
		<imgeo:begroeidTerreindeelOpTalud{{#optalud_leeg}} nilReason="{{.}}"{{/optalud_leeg}}>{{optalud}}</imgeo:begroeidTerreindeelOpTalud>	
		<imgeo:kruinlijnBegroeidTerreindeel{{#kruinlijn_leeg}} nilReason="{{.}}"{{/kruinlijn_leeg}}>{{#kruinlijn}}{{{_geometry.gml}}}{{/kruinlijn}}</imgeo:kruinlijnBegroeidTerreindeel>	
		<imgeo:plus-fysiekVoorkomen codeSpace="{{plus-fysiekvoorkomen_codespace}}">{{plus-fysiekvoorkomen}}{{plus-fysiekvoorkomen_leeg}}</imgeo:plus-fysiekVoorkomen>
	</veg:PlantCover>
{{>city-model-eind}}