{{>city-model-start}}
	<imgeo:Buurt gml:id="_{{_version}}">
		{{>start-bgt-feature-type}}
		<imgeo:naam>{{naam}}{{naam_leeg}}</imgeo:naam>
		<imgeo:geometrie2d>{{{geometry.gml}}}</imgeo:geometrie2d>		
		<imgeo:buurtcode>{{buurtcode}}</imgeo:buurtcode>
		<imgeo:wijk>
			<imgeo:Wijk>				
				<imgeo:wijkcode>{{wijk}}{{wijk_leeg}}</imgeo:wijkcode>					
			</imgeo:Wijk>
		</imgeo:wijk>	
	</imgeo:Buurt>
{{>city-model-eind}}