{{>city-model-start}}
	<BuildingInstallation xmlns="http://www.opengis.net/citygml/building/2.0" gml:id="_{{_version}}">
		{{>start-bgt-feature-type}}
			<function codeSpace="{{type_codespace}}">{{type}}</function>
			<imgeo:geometrie2dGebouwInstallatie>{{{_geometry.gml}}}</imgeo:geometrie2dGebouwInstallatie>
			<imgeo:plus-typeGebouwInstallatie codeSpace="{{plus-type_codespace}}">{{plus-type}}{{plus-type_leeg}}</imgeo:plus-typeGebouwInstallatie>	
	</BuildingInstallation>
{{>city-model-eind}}