{{>city-model-start}}
	<imgeo:Kast gml:id="_{{_version}}">
		{{>start-bgt-feature-type}}
			<function xmlns="http://www.opengis.net/citygml/cityfurniture/2.0" codeSpace="{{type_codespace}}">{{type}}</function>
			<imgeo:plus-type codeSpace="{{plus-type_codespace}}">{{plus-type}}{{plus-type_leeg}}</imgeo:plus-type>
			<imgeo:geometrie2dKast>{{{_geometry.gml}}}</imgeo:geometrie2dKast>
	</imgeo:Kast>
{{>city-model-eind}}