{{>city-model-start}}
	<imgeo:OndersteunendWaterdeel gml:id="_{{_version}}">
		{{>start-bgt-feature-type}}
			<class xmlns="http://www.opengis.net/citygml/waterbody/2.0" codeSpace="{{type_codespace}}">{{type}}</class>
			<imgeo:plus-type codeSpace="{{plus-type_codespace}}">{{plus-type}}{{plus-type_leeg}}</imgeo:plus-type>
			<imgeo:geometrie2dOndersteunendWaterdeel>{{{_geometry.gml}}}</imgeo:geometrie2dOndersteunendWaterdeel>
	</imgeo:OndersteunendWaterdeel>
{{>city-model-eind}}