{{>city-model-start}}
  <imgeo:OpenbareRuimteLabel gml:id="_{{_version}}">
  	{{>start-bgt-feature-type}}
  	<imgeo:identificatieBAGOPR>{{identificatiebagopr}}</imgeo:identificatieBAGOPR>
  	<imgeo:openbareRuimteNaam>
  		<imgeo:Label>
         <imgeo:tekst>{{openbareruimtenaam}}</imgeo:tekst>{{#positie}}
         <imgeo:positie>
              <imgeo:Labelpositie>
                <imgeo:plaatsingspunt>{{{_geometry.gml}}}</imgeo:plaatsingspunt>
                  <imgeo:hoek>{{hoek}}</imgeo:hoek>
              </imgeo:Labelpositie>
          </imgeo:positie>{{/positie}}
        </imgeo:Label>
    </imgeo:openbareRuimteNaam>
    <imgeo:openbareRuimteType codeSpace="{{openbareruimtetype_codespace}}">{{openbareruimtetype}}</imgeo:openbareRuimteType>
  </imgeo:OpenbareRuimteLabel>
{{>city-model-eind}}
