{{>city-model-start}}
  <imgeo:OpenbareRuimte gml:id="_{{_version}}">
  	{{>start-bgt-feature-type}}
			<imgeo:geometrie2d>{{{_geometry.gml}}}</imgeo:geometrie2d>
  </imgeo:OpenbareRuimte>
{{>city-model-eind}}