{{>city-model-start}}
	<imgeo:OverigeScheiding gml:id="_{{_version}}">
		{{>start-bgt-feature-type}}
			<imgeo:geometrie2dOverigeConstructie>{{{_geometry.gml}}}</imgeo:geometrie2dOverigeConstructie>					
			<imgeo:plus-type codeSpace="{{plus-type_codespace}}">{{plus-type}}{{plus-type_leeg}}</imgeo:plus-type>	
	</imgeo:OverigeScheiding>
{{>city-model-eind}}