{{>city-model-start}}
	<bui:BuildingPart xmlns:bui="http://www.opengis.net/citygml/building/2.0" gml:id="_{{_version}}">
		{{>start-bgt-feature-type}}
			<imgeo:identificatieBAGPND>{{identificatiebagpnd}}</imgeo:identificatieBAGPND>
			<imgeo:geometrie2dGrondvlak>{{{_geometry.gml}}}</imgeo:geometrie2dGrondvlak>{{#nummeraanduidingreeks}}
			<imgeo:nummeraanduidingreeks>
				<imgeo:Nummeraanduidingreeks>
					<imgeo:nummeraanduidingreeks>{{#positie}}
						<imgeo:Label>
							<imgeo:tekst>{{tekst}}</imgeo:tekst>
							<imgeo:positie>
								<imgeo:Labelpositie>
									<imgeo:plaatsingspunt>{{{_geometry.gml}}}</imgeo:plaatsingspunt>
									<imgeo:hoek>{{hoek}}</imgeo:hoek>
								</imgeo:Labelpositie>
							</imgeo:positie>
						</imgeo:Label>{{/positie}}
					</imgeo:nummeraanduidingreeks>					
					<imgeo:identificatieBAGVBOLaagsteHuisnummer>{{identificatiebagvbolaagstehuisnummer}}</imgeo:identificatieBAGVBOLaagsteHuisnummer>
					<imgeo:identificatieBAGVBOHoogsteHuisnummer>{{identificatiebagvbohoogstehuisnummer}}{{identificatiebagvbohoogstehuisnummer_leeg}}</imgeo:identificatiebagvbohoogsteHuisnummer>
				</imgeo:Nummeraanduidingreeks>			
			</imgeo:nummeraanduidingreeks>{{/nummeraanduidingreeks}}			
	</bui:BuildingPart>
{{>city-model-eind}}
