{{>city-model-start}}
	<imgeo:Plaatsbepalingspunt gml:id="_{{_version}}">
		<imgeo:identificatie>
			<imgeo:NEN3610ID>
				<imgeo:namespace>NL.IMGeo</imgeo:namespace>
				<imgeo:lokaalID>{{lokaalid}}</imgeo:lokaalID>
			</imgeo:NEN3610ID>
		</imgeo:identificatie>	
		<imgeo:nauwkeurigheid>{{nauwkeurigheid}}{{nauwkeurigheid_leeg}}</imgeo:nauwkeurigheid>
		<imgeo:datumInwinning>{{datuminwinning}}</imgeo:datumInwinning>
		<imgeo:inwinnendeInstantie>{{inwinnendeinstantie}}{{inwinnendeinstantie_leeg}}</imgeo:inwinnendeInstantie>
		<imgeo:inwinningsmethode codeSpace="{{inwinningsmethode_codespace}}">{{inwinningsmethode}}</imgeo:inwinningsmethode>
		<imgeo:geometrie>{{{_geometry.gml}}}</imgeo:geometrie>	
	</imgeo:Plaatsbepalingspunt>
{{>city-model-eind}}