{{>city-model-start}}
	<imgeo:Scheiding gml:id="_{{_version}}">
		{{>start-bgt-feature-type}}
			<imgeo:geometrie2dOverigeConstructie>{{{_geometry.gml}}}</imgeo:geometrie2dOverigeConstructie>	
			<imgeo:bgt-type codeSpace="{{type_codespace}}">{{type}}</imgeo:bgt-type>			
			<imgeo:plus-type codeSpace="{{plus-type_codespace}}">{{plus-type}}{{plus-type_leeg}}</imgeo:plus-type>	
	</imgeo:Scheiding>
{{>city-model-eind}}