{{>city-model-start}}
	<imgeo:Straatmeubilair gml:id="_{{_version}}">
		{{>start-bgt-feature-type}}
			<cif:function xmlns:cif="http://www.opengis.net/citygml/cityfurniture/2.0" codeSpace="{{type_codespace}}">{{type}}</cif:function>
			<imgeo:plus-type codeSpace="{{plus-type_codespace}}">{{plus-type}}{{plus-type_leeg}}</imgeo:plus-type>	
			<imgeo:geometrie2dStraatmeubilair>{{{_geometry.gml}}}</imgeo:geometrie2dStraatmeubilair>	
	</imgeo:Straatmeubilair>
{{>city-model-eind}}