{{>city-model-start}}
	<veg:SolitaryVegetationObject xmlns:veg="http://www.opengis.net/citygml/vegetation/2.0" gml:id="_{{_version}}">
		{{>start-bgt-feature-type}}
			<veg:class codeSpace="{{type_codespace}}">{{type}}</veg:class>		
			<imgeo:geometrie2dVegetatieObject>{{{_geometry.gml}}}</imgeo:geometrie2dVegetatieObject>		
			<imgeo:plus-type codeSpace="{{plus-type_codespace}}">{{plus-type}}{{plus-type_leeg}}</imgeo:plus-type>		
	</veg:SolitaryVegetationObject>
{{>city-model-eind}}