{{>city-model-start}}
	<imgeo:Waterinrichtingselement gml:id="_{{_version}}">
		{{>start-bgt-feature-type}}
			<cit:function xmlns:cit="http://www.opengis.net/citygml/cityfurniture/2.0" codeSpace="{{type_codespace}}">{{type}}</cit:function>
			<imgeo:plus-type codeSpace="{{plus-type_codespace}}">{{plus-type}}{{plus-type_leeg}}</imgeo:plus-type>	
			<imgeo:geometrie2dWaterinrichtingselement>{{{_geometry.gml}}}</imgeo:geometrie2dWaterinrichtingselement>	
	</imgeo:Waterinrichtingselement>
{{>city-model-eind}}