  <imgeo-s:objectBeginTijd>{{creationdate}}</imgeo-s:objectBeginTijd>
  {{#terminationdate}}<imgeo-s:objectEindTijd>{{.}}</imgeo-s:objectEindTijd>{{/terminationdate}}
  <imgeo-s:identificatie.namespace>NL.IMGeo</imgeo-s:identificatie.namespace>
  <imgeo-s:identificatie.lokaalID>{{lokaalid}}</imgeo-s:identificatie.lokaalID>
  <imgeo-s:tijdstipRegistratie>{{tijdstipregistratie}}</imgeo-s:tijdstipRegistratie>
  {{#eindregistratie}}<imgeo-s:eindRegistratie>{{.}}</imgeo-s:eindRegistratie>{{/eindregistratie}}
  <imgeo-s:LV-publicatiedatum>{{lv-publicatiedatum}}</imgeo-s:LV-publicatiedatum>
  <imgeo-s:bronhouder>{{bronhouder}}</imgeo-s:bronhouder>
  {{#inonderzoek}}<imgeo-s:inOnderzoek>{{.}}</imgeo-s:inOnderzoek>{{/inonderzoek}}
  {{^inonderzoek}}<imgeo-s:inOnderzoek>false</imgeo-s:inOnderzoek>{{/inonderzoek}}
  <imgeo-s:relatieveHoogteligging>{{relatievehoogteligging}}</imgeo-s:relatieveHoogteligging>
  <imgeo-s:bgt-status>{{status}}{{status_leeg}}</imgeo-s:bgt-status>
  <imgeo-s:plus-status>{{plus-status}}{{plus-status_leeg}}</imgeo-s:plus-status>