{{>start-gml-light}}
  <imgeo-s:OndersteunendWegdeel gml:id="_{{_version}}">
  {{>start-bgt-feature-type}}
    <imgeo-s:opTalud>{{opTalud}}</imgeo-s:opTalud>
    <imgeo-s:bgt-functie>{{functie}}</imgeo-s:bgt-functie>
    <imgeo-s:bgt-fysiekVoorkomen>{{fysiekVoorkomen}}</imgeo-s:bgt-fysiekVoorkomen>
    <imgeo-s:plus-fysiekVoorkomen>{{plus-fysiekVoorkomen}}{{plus-fysiekVoorkomen_leeg}}</imgeo-s:plus-fysiekVoorkomen>
  	{{>end-bgt-feature-type}}
  </imgeo-s:OndersteunendWegdeel>
{{>end-gml-light}}