{{>start-gml-light}}
  <imgeo-s:BegroeidTerreindeel gml:id="_{{_version}}">
   {{>start-bgt-feature-type}}
    <imgeo-s:opTalud>{{optalud}}</imgeo-s:opTalud>
    <imgeo-s:bgt-fysiekVoorkomen>{{fysiekvoorkomen}}</imgeo-s:bgt-fysiekVoorkomen>
    <imgeo-s:plus-fysiekVoorkomen>{{plus-fysiekvoorkomen}}{{plus-fysiekvoorkomen_leeg}}</imgeo-s:plus-fysiekVoorkomen>
   {{>end-bgt-feature-type}}
  </imgeo-s:BegroeidTerreindeel>
{{>end-gml-light}}