{{>start-gml-light}}
  <imgeo-s:Overbruggingsdeel gml:id="_{{_version}}">
   {{>start-bgt-feature-type}}
  <imgeo-s:typeOverbruggingsdeel>{{typeOverbruggingsdeel}}{{typeOverbruggingsdeel_leeg}}</imgeo-s:typeOverbruggingsdeel>
  <imgeo-s:hoortBijTypeOverbrugging>{{hoortBijTypeOverbrugging}}{{hoortBijTypeOverbrugging_leeg}}</imgeo-s:hoortBijTypeOverbrugging>
  <imgeo-s:overbruggingIsBeweegbaar>{{overbruggingIsBeweegbaar}}{{overbruggingIsBeweegbaar_leeg}}</imgeo-s:overbruggingIsBeweegbaar>
   {{>end-bgt-feature-type}}
  </imgeo-s:Overbruggingsdeel>
{{>end-gml-light}}