{{>start-gml-light}}
  <imgeo-s:Pand gml:id="_{{_version}}">
   {{>start-bgt-feature-type}}
    <imgeo-s:identificatieBAGPND>{{identificatieBAGPND}}</imgeo-s:identificatieBAGPND>
   {{>end-bgt-feature-type}}
  </imgeo-s:Pand>
{{>end-gml-light}}