{{>start-gml-light}}
  <imgeo-s:Buurt gml:id="_{{_version}}">
   {{>start-bgt-feature-type}}
    <imgeo-s:naam>{{naam}}{{naam_leeg}}</imgeo-s:naam>
   {{>end-bgt-feature-type}}
   <imgeo-s:buurtcode>{{buurtcode}}</imgeo-s:buurtcode>
  </imgeo-s:Buurt>
{{>end-gml-light}}