{{>start-gml-light}}
  <imgeo-s:Installatie gml:id="_{{_version}}">
   {{>start-bgt-feature-type}}
    <imgeo-s:bgt-type>{{type}}</imgeo-s:bgt-type>
    <imgeo-s:plus-type>{{plus-type}}{{plus-type_leeg}}</imgeo-s:plus-type>
   {{>end-bgt-feature-type}}
  </imgeo-s:Installatie>
{{>end-gml-light}}