{{>start-gml-light}}
  <imgeo-s:OnbegroeidTerreindeel gml:id="_{{_version}}">
   {{>start-bgt-feature-type}}
    <imgeo-s:bgt-fysiekVoorkomen>{{fysiekVoorkomen}}</imgeo-s:bgt-fysiekVoorkomen>
	<imgeo-s:opTalud>{{opTalud}}</imgeo-s:opTalud>
   {{>end-bgt-feature-type}}
  </imgeo-s:OnbegroeidTerreindeel>
{{>end-gml-light}}