{{>start-gml-light}}
  <imgeo-s:OverigeScheiding gml:id="_{{_version}}">
   {{>start-bgt-feature-type}}
    <imgeo-s:plus-type>{{plus-type}}{{plus-type_leeg}}</imgeo-s:plus-type>
   {{>end-bgt-feature-type}}
  </imgeo-s:OverigeScheiding>
{{>end-gml-light}}