{{>start-gml-light}}
  <imgeo-s:Spoor xmlns:tra="http://www.opengis.net/citygml/transportation/2.0" gml:id="_{{_version}}">
   {{>start-bgt-feature-type}}
   <imgeo-s:bgt-functie>{{type}}</imgeo-s:bgt-functie>
   {{>end-bgt-feature-type}}
  </imgeo-s:Spoor>
{{>end-gml-light}}