{{>start-gml-light}}
  <imgeo-s:Wegdeel xmlns:tra="http://www.opengis.net/citygml/transportation/2.0" gml:id="_{{_version}}">
   {{>start-bgt-feature-type}}
    <imgeo-s:bgt-functie>{{functie}}</imgeo-s:bgt-functie>
    <imgeo-s:opTalud>{{opTalud}}</imgeo-s:opTalud>
    <imgeo-s:bgt-fysiekVoorkomen>{{fysiekVoorkomen}}</imgeo-s:bgt-fysiekVoorkomen>
   {{>end-bgt-feature-type}}
  </imgeo-s:Wegdeel>
{{>end-gml-light}}