{{>start-gml-light}}
  <imgeo-s:Wijk gml:id="_{{_version}}">
   {{>start-bgt-feature-type}}
    <imgeo-s:naam>{{naam}}{{naam_leeg}}</imgeo-s:naam>
   {{>end-bgt-feature-type}}
   <imgeo-s:wijkcode>{{wijkcode}}</imgeo-s:wijkcode>
  </imgeo-s:Wijk>
{{>end-gml-light}}