<cityObjectMember>
	<TrafficArea xmlns="http://www.opengis.net/citygml/transportation/2.0" gml:id="A1248435E1C4A6E77E0531F0B5B0A968C">
		<creationDate xmlns="http://www.opengis.net/citygml/2.0">2014-12-05</creationDate>
		<imgeo:LV-publicatiedatum>{{publicatie-datum}}</imgeo:LV-publicatiedatum>
		<imgeo:tijdstipRegistratie>{{tijdstip-regristatie}}</imgeo:tijdstipRegistratie>
		<imgeo:inOnderzoek>{{in-onderzoek}}</imgeo:inOnderzoek>
		<imgeo:relatieveHoogteligging>{{relatieve-hoogteligging}}</imgeo:relatieveHoogteligging>
		<imgeo:bronhouder>{{bronhouder}}</imgeo:bronhouder>
		<imgeo:identificatie>
			<imgeo:NEN3610ID>
				<imgeo:namespace>{{imgeo-namespace}}</imgeo:namespace>
				<imgeo:lokaalID>{{imgeo-lokaalid}}</imgeo:lokaalID>
	    	</imgeo:NEN3610ID>
		</imgeo:identificatie>
		<imgeo:bgt-status codeSpace="http://www.geostandaarden.nl/imgeo/def/2.1#Status">{{bgt-status}}</imgeo:bgt-status>
		<imgeo:plus-status codeSpace="http://www.geostandaarden.nl/imgeo/def/2.1#VoidReasonValue">{{plus-status}}</imgeo:plus-status>
		<function codeSpace="http://www.geostandaarden.nl/imgeo/def/2.1#FunctieWeg">{{function}}</function>
		<surfaceMaterial codeSpace="http://www.geostandaarden.nl/imgeo/def/2.1#FysiekVoorkomenWeg">{{surface-material}}</surfaceMaterial>
		<imgeo:kruinlijnWegdeel nilReason={{kruinlijn-wegdeel-nil-reason}}/>
		<imgeo:geometrie2dWegdeel>{{_geometry.gml}}
		</imgeo:geometrie2dWegdeel>
		<imgeo:wegdeelOpTalud>{{wegdeel-op-talud}}</imgeo:wegdeelOpTalud>
		<imgeo:plus-fysiekVoorkomenWegdeel codeSpace="http://www.geostandaarden.nl/imgeo/def/2.1#FysiekVoorkomenWegPlus">{{plus-fysiek-voorkomen-wegdeel}}</imgeo:plus-fysiekVoorkomenWegdeel>
		<imgeo:plus-functieWegdeel codeSpace="http://www.geostandaarden.nl/imgeo/def/2.1#VoidReasonValue"/>
	</TrafficArea>
</cityObjectMember>