{{>city-model-start}}
	<imgeo:Waterschap gml:id="_{{_version}}">
		{{>start-bgt-feature-type}}					
			<imgeo:naam>{{naam}}{{naam_leeg}}</imgeo:naam>			
			<imgeo:geometrie2d>{{{geometry.gml}}}</imgeo:geometrie2d>		
	</imgeo:Waterschap>
{{>city-model-eind}}