<creationDate>{{creationdate}}</creationDate>
  {{#terminationdate}}<imgeo:objectEindTijd>{{.}}</imgeo:objectEindTijd>{{/terminationdate}}
  <imgeo:LV-publicatiedatum>{{lv-publicatiedatum}}</imgeo:LV-publicatiedatum>
  <imgeo:relatieveHoogteligging>{{relatievehoogteligging}}</imgeo:relatieveHoogteligging>
  {{#inonderzoek}}<imgeo:inOnderzoek>{{.}}</imgeo:inOnderzoek>{{/inonderzoek}}
  {{^inonderzoek}}<imgeo:inOnderzoek>false</imgeo:inOnderzoek>{{/inonderzoek}}
  {{#eindregistratie}}<imgeo:eindRegistratie>{{.}}</imgeo:eindRegistratie>{{/eindregistratie}}
  <imgeo:tijdstipRegistratie>{{tijdstipregistratie}}</imgeo:tijdstipRegistratie>
  <imgeo:identificatie>
    <imgeo:NEN3610ID>
      <imgeo:namespace>NL.IMGeo</imgeo:namespace>
        <imgeo:lokaalID>{{lokaalid}}</imgeo:lokaalID>
    </imgeo:NEN3610ID>
  </imgeo:identificatie>
  <imgeo:bronhouder>{{bronhouder}}</imgeo:bronhouder>
  <imgeo:bgt-status codeSpace="{{status_codespace}}">{{status}}{{status_leeg}}</imgeo:bgt-status>
  <imgeo:plus-status codeSpace="{{plus-status_codespace}}">{{plus-status}}{{plus-status_leeg}}</imgeo:plus-status>